---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2 class="text-3xl font-bold">My awesome blog subtitle</h2>
</BaseLayout>
