---
---
<div class="max-w-screen-sm mx-auto flex justify-between items-center p-4 border-b border-slate-200">
  <a href="/" class="font-mono font-bold text-lg text-violet-700">MHK</a>
  <div class="flex gap-4 text-sm text-neutral-600">
    <a href="/about" class="hover:text-violet-700">About</a>
    <p>/</p>
    <a href="/blog" class="hover:text-violet-700">Blog</a>
    <p>/</p>
    <a href="/work" class="hidden md:block hover:text-violet-700">Work</a>
    <p class="hidden md:block">/</p>
    <a href="/#contact" class="text-violet-700 hover:text-violet-800">Contact</a>
  </div>
</div>