---
---
<div class="max-w-screen-sm mx-auto flex justify-between items-center p-4 border-b border-slate-200">
  <a href="/" class="font-mono font-bold text-lg text-violet-700">MHK</a>
  <div class="flex gap-4 text-sm">
    <a href="/about">About</a>
    <p>/</p>
    <a href="/blog">Blog</a>
    <p>/</p>
    <a href="/work" class="hidden md:block">Work</a>
    <p class="hidden md:block">/</p>
    <a href="/#contact" class="text-violet-700">Contact</a>
  </div>
</div>